<div id="container">
    <h1 class="title">Argumenty regex - wielkie litery</h1>
    <p>
        W odpowiednie miejsce w ścieżce wpisałeś wielkie litery
        dzięki czemu widzisz tą wiadomość 
    </p>
    <p>
        Btw wpisana wartość to: <b>{{$var}}</b>
    </p>
</div>
