<div id="container">
    <h1 class="title">Argumenty regex</h1>
    <p>
        Trafiłeś na ścieżkę wykorzystującą zagnieżdżone
        argumenty regex
    </p>
    <p>
        Pierwszy argument: <b>{{$var_1}}</b>
    </p>
    <p>
        Drugi argument: <b>{{$var_2}}</b>
    </p>
</div>
