<div id="container">
    <h1 class="title">Argumenty regex - małe litery</h1>
    <p>
        W odpowiednie miejsce w ścieżce wpisałeś małe litery
        dzięki czemu widzisz tą wiadomość 
    </p>
    <p>
        Jeśli jeszcze tego nie zrobiłeś spróbuj tam wpisać
        same wielkie litery
    </p>
    <p>
        Btw wpisana wartość to: <b>{{$var}}</b>
    </p>
</div>
