#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
} 

#navbar > li {
    float: left;
} 

#navbar > li > a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

#navbar > li > a:hover:not(.active) {
    background-color: #ddd; 
}

#navbar > li > a.active {
    color: white;
    background-color: #4CAF50;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: white;
    text-align: center;
}

#container {
    width: 1000px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
}

.title {
    width: 100%;
    text-align: center;
}

#container p {
    font-size: 20px;
    text-align: justify;
}
