<div id="container">
    <h1 class="title">Argumenty get</h1>
    <p>
        Argumenty regex są drugim po argumentach regex sposobem 
        przekazywania danych do skryptów serwerowych
    </p>
    <p>
        Argumenty te są zawarte po znaku zapytania w ścieżce 
    </p>
    <p>
        W celu ich przetestowania wpisz kilka po ścieżce do tego zasobu
    </p>

    <!-- W taki sposób można zagnieździć template'y -->
    {{@vars}}
</div>
